  

    <div class="wrapper " ng-controller="awardController">


        <div class="alert alert-success" ng-show="showSuccessAlert">
            <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
            <strong>Done!</strong> {{successTextAlert}}
        </div>


 <!-- menu bar starts here -->
        <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            <a href="" class="btn btn-addon btn-default btn-sm pull-right" ng-click="createAward()"><i class="fa fa-plus"></i> Add new</a>

            <h5>Awards</h5>

          </div>


        
        </div> 

        <hr>


<!-- editor starts here -->
        <div class="row">


          <!-- sections start here -->
           

          <!-- section content start here -->
          <div class="col-lg-12 col-sm-12 col-md-12">

              <ul>
                <li ng-repeat="award in awardsData" class="b-b">
                 <p style="line-height: 1.8;">{{award.award}}

                  <span class="pull-right"> 
                  <a href="" ng-click="editAward(award)"><i class="fa fa-edit"></i></a> | 
                  <a href="" ng-click="deleteAward(award.id)"><i class="fa fa-trash"></i></a> 
                 </span>
                 </p>
                 
              </li>

            </ul>




          </div>


        
        </div> 

      
      


    </div>






    <script type="text/ng-template" id="createAward.html">
  
  <div class="modal-content">
        <div class="modal-header bg-light lter">
            <h4 class="modal-title"> <i class="fa fa-fw fa-th"></i> create awards </h4>
        </div>

      
        <div class="modal-body wrapper">
            
         <div class="row">  
         
        <div class="col-xs-6 col-md-6 col-lg-6">
        
    <div class="alert alert-warning" ng-show="showErrorAlert">
   <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >×</button>
   <ul ng-repeat="error in errorTextAlert">
   <li><strong>Error!</strong> {{error}}</li>
   </ul>
 </div>
   

   


    
  <div class="form-group">

      <label >Awards</label>
      <hr>
       <ul>
        <li ng-repeat="award in awardData.awards" class="b-b"> {{award.content}}
        <span class="pull-right"> <a href="" ng-click="removeSample(award)"> <i class="fa fa-trash"></i> </a></span>
        </li>
        
       </ul>
      
      
    </div>

 </div>
 <div class="col-xs-1 col-md-1 col-lg-1"></div>
 <div class="col-xs-5 col-md-5 col-lg-5 b-l">

    

     <div class="panel panel-default">
        
        <div class="panel-heading">
           
            <a href=""  class="btn btn-success btn-addon btn-sm" ng-click="fetchSamples()">
              <i class="glyphicon glyphicon-refresh"></i> Refresh sample tips
            </a>

        </div>
        
        <div class="panel-body">

            <ul class="nav aside " >
              <li class="b-b" ng-repeat="sample in samples | limitTo:2">
                <p style="font-size:11px; ">
                <i>
                {{sample.content}}</i> 
                <a href="" class="btn btn-success  btn-xs pull-right" ng-click="addSample(sample)"><i class="fa fa-plus"> </i> Add</a>
                 
                </p>
              </li>


             

            </ul>
            <br>
            <textarea ng-model="sample.content" class="form-control" >

            </textarea>

             <a href="" class="btn btn-success  btn-xs pull-right" ng-click="addSample(sample)"><i class="fa fa-plus"> </i> Add</a>


        </div>


      </div>


  



</div>
</div>



      </div>

      <div class="modal-footer bg-light lter">
        <button class="btn btn-success btn-addon pull-left" type="button" ng-click="cancel()" > <i class="fa fa-fw fa-close"></i>Cancel</button>
        <button class="btn btn-success btn-addon pull-right" ng-click="submitAward()" > <i class="fa fa-fw fa-save"></i> Save</button>
        
      </div>

   
  </div>

</script>






<script type="text/ng-template" id="editAward.html">
  
  <div class="modal-content">
        <div class="modal-header bg-light lter">
            <h4 class="modal-title"> <i class="fa fa-fw fa-th"></i> update award </h4>
        </div>

      <form ng-submit="updateAward()" class="form-horizontal">
        <div class="modal-body wrapper">
            
         <div class="row">  
         
        <div class="col-xs-11 col-md-11 col-lg-11">
        
    <div class="alert alert-warning" ng-show="showErrorAlert">
   <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >×</button>
   <ul ng-repeat="error in errorTextAlert">
   <li><strong>Error!</strong> {{error}}</li>
   </ul>
 </div>
   

   

<input type="hidden" ng-model="award.id" >
    
  <div class="form-group">

      
      <textarea ng-model="award.award" class="form-control" cols="15" rows="15">
      
      </textarea>
      
    </div>

 </div>
 
 
</div>



      </div>

      <div class="modal-footer bg-light lter">
        <button class="btn btn-success btn-addon pull-left" type="button" ng-click="cancel()" > <i class="fa fa-fw fa-close"></i>Cancel</button>
        <button class="btn btn-success btn-addon pull-right" type="submit" > <i class="fa fa-fw fa-save"></i> Save</button>
        
      </div>

    </form>
  </div>

</script>



<script type="text/ng-template" id="deleteConfirm.html">
  
  <div class="modal-content">
        <div class="modal-header bg-light lter">
            <h4 class="modal-title"> <i class="fa fa-fw fa-th"></i> Confirm Action </h4>
        </div>

     
        <div class="modal-body wrapper">
            
         <div class="row">  
          <div class="col-xs-1 col-md-1 col-lg-1"> </div>
        <div class="col-xs-10 col-md-10 col-lg-10">
        
        

    
  

    
<h5> Are you sure you want to delete this award? </h5>





    


    





</div>
</div>



      </div>

      <div class="modal-footer bg-light lter">

        <button class="btn btn-success btn-addon pull-left" type="button" ng-click="cancel()" > <i class="fa fa-fw fa-close"></i>Cancel</button>

        <button class="btn btn-success btn-addon pull-right" type="button" ng-click="deleteConfirmOk(id)"> <i class="fa fa-fw fa-save"></i> Ok</button>
        
      </div>

   
  </div>

</script>














