  

    <div class="wrapper " ng-controller="editorController">


        <div class="alert alert-success" ng-show="showSuccessAlert">
            <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
            <strong>Done!</strong> {{successTextAlert}}
        </div>


 <!-- menu bar starts here -->
        <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            <a href="" class="btn btn-addon btn-default btn-sm pull-right" ng-click="updateObjective()"><i class="fa fa-edit"></i> Update</a>

            <h5>Objectives</h5>

          </div>


        
        </div> 

        <hr>


<!-- editor starts here -->
        <div class="row">


          <!-- sections start here -->
           

          <!-- section content start here -->
          <div class="col-lg-12 col-sm-12 col-md-12">

              
                <p ng-repeat="objective in objectivesData">
                 {{objective.objective}}
              </p>




          </div>


        
        </div> 

      
      


    </div>






    <script type="text/ng-template" id="updateObjective.html">
  
  <div class="modal-content">
        <div class="modal-header bg-light lter">
            <h4 class="modal-title"> <i class="fa fa-fw fa-th"></i> Update objectives </h4>
        </div>

      <form ng-submit="submitObjective()" class="form-horizontal">
        <div class="modal-body wrapper">
            
         <div class="row">  
         
        <div class="col-xs-6 col-md-6 col-lg-6">
        
    <div class="alert alert-warning" ng-show="showErrorAlert">
   <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >×</button>
   <ul ng-repeat="error in errorTextAlert">
   <li><strong>Error!</strong> {{error}}</li>
   </ul>
 </div>
   

   


    
  <div class="form-group">

      <label>Objectives</label>
      <textarea ng-model="objectiveData" class="form-control" cols="15" rows="15">
       <p ng-repeat="objective in objectivesData">
                 {{objective.objective}}
              </p>
      </textarea>
      
    </div>

 </div>
 <div class="col-xs-1 col-md-1 col-lg-1"></div>
 <div class="col-xs-5 col-md-5 col-lg-5 b-l">

    

     <div class="panel panel-default">
        
        <div class="panel-heading">
           
            <a href=""  class="btn btn-success btn-addon btn-sm" ng-click="refreshSamples(objective)">
              <i class="glyphicon glyphicon-refresh"></i> Refresh sample tips
            </a>

        </div>
        
        <div class="panel-body">

            <ul class="nav aside " >
              <li class="b-b">
                <p style="font-size:11px; ">
                <i>
                this is a sample contenet this is a sample contenet. this is a sample contenet this is a sample contenet this is a sample contenet this is a sample contenet</i> 
                <a href="" class="btn btn-success  btn-xs pull-right"><i class="fa fa-plus"> </i> Add</a>
                 
                </p>
              </li>


             

            </ul>


        </div>


      </div>


  



</div>
</div>



      </div>

      <div class="modal-footer bg-light lter">
        <button class="btn btn-success btn-addon pull-left" type="button" ng-click="cancel()" > <i class="fa fa-fw fa-close"></i>Cancel</button>
        <button class="btn btn-success btn-addon pull-right" type="submit" > <i class="fa fa-fw fa-save"></i> Save</button>
        
      </div>

    </form>
  </div>

</script>














