  

    <div class="wrapper " ng-controller="editorController">


        


 <!-- menu bar starts here -->
        <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">Personal Information</h5>

            <p>
              <strong>Full Name: </strong> {{resumeData.fullnames}}<br>
              <strong>Phone Number: </strong> {{resumeData.phone}}<br>
              <strong>Email Address: </strong> {{resumeData.email}}<br>
              <strong>Address: </strong> {{resumeData.address}}<br>
            </p>


          </div>


        
        </div> 




        <!-- objectives start here -->
         <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">Objectives</h5>

            <ul>
                <li ng-repeat="objective in objectivesData" >
                 <p style="line-height: 1.2;">{{objective.objective}}

                 
                 </p>
                 
              </li>

            </ul>


          </div>


        
        </div> 




        <!-- experiences start here -->
         <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">Work Experience</h5>

            <ul>
                <li ng-repeat="experience in experiencesData" >
                 <p style="line-height: 1.2;">


                   <strong>{{experience.organization}}</strong><br>
        From: {{experience.start_period}} - To: {{experience.end_period}}<br>
        {{experience.title}}<br>
        {{experience.responsibilities}}

                 
                 </p>
                 
              </li>

            </ul>


          </div>


        
        </div> 




        <!-- education start here -->
         <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">Education History</h5>

            <ul>
                <li ng-repeat="education in educationsData" >
                 <p style="line-height: 1.2;">

                  <strong>{{education.institution}}</strong><br>
        <strong>{{education.course}}</strong><br>
        From: {{education.start_period}} - To: {{education.end_period}}<br>
        {{education.remarks}}

                 </p>
                 
              </li>

            </ul>


          </div>


        
        </div> 




        <!-- Certifications start here -->
         <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">Certification</h5>

            <ul>
                <li ng-repeat="certification in certificationsData" >
                 <p style="line-height: 1.2;">{{certification.certification}}

                 
                 </p>
                 
              </li>

            </ul>


          </div>


        
        </div> 




        <!-- skills start here -->
         <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">Skills</h5>

            <ul>
                <li ng-repeat="skill in skillsData" >
                 <p style="line-height: 1.2;">{{skill.skill}}

                 
                 </p>
                 
              </li>

            </ul>


          </div>


        
        </div> 




        <!-- achievementss start here -->
         <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">Achievements</h5>

            <ul>
                <li ng-repeat="achievement in achievementsData" >
                 <p style="line-height: 1.2;">{{achievement.achievement}}

                 
                 </p>
                 
              </li>

            </ul>


          </div>


        
        </div> 



        <!-- awards start here -->
         <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">Awards</h5>

            <ul>
                <li ng-repeat="award in awardsData" >
                 <p style="line-height: 1.2;">{{award.award}}

                 
                 </p>
                 
              </li>

            </ul>


          </div>


        
        </div> 




        <!-- publications start here -->
         <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">Publications</h5>

            <ul>
                <li ng-repeat="publication in publicationsData" >
                 <p style="line-height: 1.2;">{{publication.publication}}

                 
                 </p>
                 
              </li>

            </ul>


          </div>


        
        </div> 




        <!-- references start here -->
         <div class="row">


          <div class="col-lg-12 col-sm-12 col-md-12">

            

            <h5 class="b-b">References</h5>

            <ul>
                <li ng-repeat="reference in referencesData" >
                 <p style="line-height: 1.2;">

                   <strong>{{reference.name}}</strong><br/>
        {{reference.position}}<br/>
        {{reference.institution}}<br/>
        {{reference.phone}}<br/>
        {{reference.email}}
                 
                 </p>
                 
              </li>

            </ul>


          </div>


        
        </div> 


        

      
      


    </div>






 














